/* map {
  height: 100vh;
  width: 100vw;
} */
.dropdown-menu.show {
  background-color: rgb(250, 173, 31);
  width: 10em;
  height: 100%;
  z-index: 2;
}
.dropdown-item {
  text-decoration: none;
  color: black;
  margin: 20px;
}
.overlays {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.navigate.dropdown {
  grid-column: 2;
  justify-self: right;
  margin-top: 10px;
}

button.dropdown-toggle.btn.btn-primary {
  border: none;
  background: transparent;
}
.submit {
  grid-row: 1;
  grid-column: 1;
}
.rating {
  opacity: 0.5;
}
.rating:hover {
  opacity: 1;
}
.rating.selected {
  opacity: 1;
}
.rating1 {
  opacity: 0.5;
}
.rating1:hover {
  opacity: 1;
}
.rating1.selected1 {
  opacity: 1;
}
.rating2 {
  opacity: 0.5;
}
.rating2:hover {
  opacity: 1;
}
.rating2.selected2 {
  opacity: 1;
}
.rating3 {
  opacity: 0.5;
}
.rating3:hover {
  opacity: 1;
}
.rating3.selected3 {
  opacity: 1;
}
.rating4 {
  opacity: 0.5;
}
.rating4:hover {
  opacity: 1;
}
.rating4.selected4 {
  opacity: 1;
}
.signup {
  height: 100%;
  justify-items: center;
  background: rgb(253, 29, 29);
  background: linear-gradient(
    360deg,
    rgba(253, 29, 29, 1) 0%,
    rgba(252, 176, 69, 1) 100%
  );
}
.signform {
  display: grid;
  justify-items: center;
}
h2 {
  color: white;
  margin-top: 0;
  padding-top: 50%;
}
