.mapboxgl-ctrl-bottom-left {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}
.marker,
.marker-current {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.marker {
  background-color: rgb(233, 149, 24);
  box-shadow: 150px 150px 150px 150px rgb(245, 174, 20);
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 20px 15px rgb(245, 174, 20);
  }
  100% {
    box-shadow: 0 0 80px 80px transparent;
    border-width: 2px;
  }
}
.marker-current {
  background-color: rgb(233, 149, 24);
  animation: glowing 1.2s ease infinite;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-content {
  color: black;
}

.popup-text {
  font-size: 0.8rem;
  color: grey;
}

.location {
  display: flex;
  align-items: center;
}
#location-icon {
  margin-right: 10px;
}
.current-location {
  margin-left: 15px;
  margin-top: 5px;
}
.searchBar {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-left: 20px;
}
input {
  margin-bottom: 10px;
  padding-left: 30px;
  width: 15em;
  border: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;
}
.goBtn {
  margin-left: 10px;
  height: 42px;
  background-color: black;
  padding: 10px 10px 10px 10px;
  color: white;
  border: none;
  border-radius: 50px;
}
.parkingId {
  position: absolute;
  top: 25%;
  right: 10%;
  color: white;
  font-weight: bold;
}
