.mapboxgl-ctrl-bottom-left {
  display: none;
}
.mapboxgl-ctrl-bottom-right {
  display: none;
}
.marker,
.marker-current {
  height: 10px;
  width: 10px;
  border-radius: 100%;
}
.marker {
  background-color: rgb(233, 149, 24);
  box-shadow: 50px 50px 50px 50px rgb(245, 174, 20);
}
@keyframes glowing {
  0% {
    box-shadow: 0 0 20px 15px rgb(245, 174, 20);
  }
  100% {
    box-shadow: 0 0 20px 20px transparent;
    border-width: 2px;
  }
}
.marker-current {
  background-color: rgb(233, 149, 24);
  animation: glowing 1.2s ease infinite;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
  border-top-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
  border-right-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
  border-left-color: rgba(255, 255, 255, 0.2);
}
.mapboxgl-popup-content {
  background: rgba(255, 255, 255, 0.2);
  color: black;
  padding: 0.3rem 0.8rem;
}

.popup-text {
  font-size: 0.8rem;
  color: grey;
}

.location {
  display: flex;
  align-items: center;
}
#location-icon {
  margin-right: 10px;
}
